.afaq-6310 {
  font-family: sans-serif;
  color: #2196F3;
}
.row {
  display: table;
  width: 100%;
}
.afaq-6310-sm {
  width: 98%;
}
.afaq-6310-category-filter-table {
  display: table;
}
.afaq-6310-category-filter-row {
  display: table-row;
}
.afaq-6310-category-filter-row .afaq-6310-col-2,
.afaq-6310-category-filter-row .afaq-6310-col-3,
.afaq-6310-category-filter-row .afaq-6310-col-4,
.afaq-6310-category-filter-row .afaq-6310-col-5 {
  display: table-cell;
}
.afaq-6310-header {
  width: calc(98% - 30px);
  background: #fff;
  color: #000;
  padding: 0 15px 20px;
  float: left;
  margin: 20px 0 30px;
  display: table;
  border-radius: 3px;
}
.afaq-6310-header h3 {
  border-bottom: 1px solid #aaa;
  line-height: 40px;
  font-size: 20px;
}
.afaq-6310-header h3 span.dashicons-flag {
  line-height: 40px;
}
.afaq-6310-header-left {
  width: 68%;
  font-size: 30px;
  margin-left: 2%;
  cursor: pointer;
  line-height: 60px;
  float: left;
  display: table-row;
  vertical-align: middle;
}
.afaq-6310-header-right {
  width: 28%;
  font-size: 14px;
  margin-left: 2%;
  line-height: 20px;
  float: left;
  display: block;
}
.afaq-6310-margin-right-10 {
  margin-right: 10px;
}
.afaq-6310-image-responsive {
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
}
.afaq-6310-padding-15 {
  padding: 15px !important;
}
.afaq-6310-btn-danger-delete,
.afaq-6310-btn-danger,
.afaq-6310-btn-default,
.afaq-6310-btn-icon,
.afaq-6310-btn-multi,
.afaq-6310-btn-primary,
.afaq-6310-btn-success
{
  font-family: sans-serif;
  color: #fff;
  border: 0;
  outline: 0;
  font-size: 14px;
  padding: 8px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.afaq-6310-btn-multi {
  border-radius: 0;
  background-color: #71ce71;
  float: left;
}
.afaq-6310-btn-default {
  border: 1px solid #aaa;
  background: #fff;
  color: #000;
  padding: 5px 10px;
}
.afaq-6310-btn-icon {
  padding: 0;
  width: 35px;
  height: 35px;
  line-height: 35px;
}
.afaq-6310-btn-primary {
  background-color: #2196F3;
}
.afaq-6310-btn-success {
  background-color: #5cb85c;
}
.afaq-6310-btn-danger,
.afaq-6310-btn-danger-delete {
  background-color: #d9534f;
}
.afaq-6310-btn-danger.sm {
  padding: 5px 10px !important;
}
.afaq-6310-btn-multi.active,
.afaq-6310-btn-multi:hover,
.afaq-6310-btn-success:hover {
  background-color: #376e37;
}
.afaq-6310-btn-primary:hover {
  background-color: #4bc2ea;
}
.afaq-6310-btn-danger-delete {
  position: absolute;
  top: -20px;
  right: -10px;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  text-align: center;
  background: transparent;
}
.afaq-6310-btn-danger-delete i {
  font-size: 30px;
  color: red;
}
.afaq-6310-btn-danger-delete:hover i {
  color: #ba0505;
}
.afaq-6310-btn-danger:hover {
  background-color: #d63a35;
}
.afaq-6310-btn-default:hover {
  background-color: #eee;
}
.afaq-6310-6310 h1 {
  font-weight: 400;
}
.afaq-6310-form-label {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.afaq-6310-form-input, .afaq-6310-form-input-sm {
  outline: 0;
  border: 1px solid #eee;
  padding: 5px;
  border-radius: 3px;
  width: calc(100% - 10px);
  font-size: 13px !important;
  font-weight: 100 !important;
  color: #272727 !important;
  float: left;
  height: 30px;
}
.afaq-6310-form-input-sm{
  width: 250px;
}
textarea.afaq-6310-form-input {
  height: 100px;
  width: 250px;
  border: 1px solid #7e8993;
}
textarea.afaq-6310-form-input-lg {
  height: 150px;
  width: calc(100% - 10px);
  border: 1px solid #7e8993;
}
select.afaq-6310-form-input {
  height: 31px;
}
.afaq-6310-form-input.sm {
  min-width: 180px;
}
.afaq-6310-form-input.lg {
  min-width: 300px;
}
.afaq-6310-pull-right {
  float: right;
}
.afaq-6310-table {
  border: 1px solid #aaa;
  padding: 0;
  margin: 0;
  background: #fff;
  border-spacing: 0;
  border-collapse: collapse;
  color: #272727;
  width: calc(98% - 2px);
}
.afaq-6310-table tr:first-child td {
  border-bottom: 2px solid #aaa;
  padding: 10px 8px;
  font-weight: 700;
}
.afaq-6310-table tr:not(first-child) td {
  border-bottom: 1px solid #aaa;
  padding: 8px 5px;
}
.afaq-6310-table tr:hover {
  background: #efefed;
}
.afaq-6310-table tr:first-child:hover {
  background: #fff;
}
.afaq-6310-faq-list {
  line-height: 30px;
  font-size: 18px;
  padding: 15px 0 10px 15px;
  float: left;
  font-weight: 100;
  color: #000;
  background: #fff;
  border-top: 1px solid #aaa;
  width: calc(100% - 15px);
  margin-top: 15px;
}
.afaq-6310-faq-list small {
  font-size: 14px;
  color: green;
  margin-right: 15px;
}
.afaq_6310_tabs_panel_preview {
  width: calc(100% - 30px);
  background: #fff;
  float: left;
  padding: 5px 15px 15px;
}

.afaq_6310_tabs_panel_preview .afaq-6310-row,
.afaq-6310-row {
  width: 100%;
  clear: both;
  float: left;
  padding: 15px 0;
}
.afaq-6310-modal-xl {
  width: 90% !important;
  background: rgb(240, 240, 240) !important;
}
.template-form-fields {
  padding: 15px;
  width: calc(100% - 30px);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  background-color: #fff;
  border-radius: 5px;
  position: relative;
}
.afaq-6310-margin-bottom-0 {
  margin-bottom: 0 !important;
}
.afaq-6310-faq-for-elementor-style-boxed {
  border: 1px solid #aaa;
  margin: 0;
  padding: 0;
  box-shadow: 5px 5px 15px #aaa;
  width: 98%;
  margin-bottom: 25px;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  box-shadow: none;
  font-weight: 700;
}
.afaq-6310-preview {
  font-size: 22px;
  line-height: 26px;
  padding-bottom: 10px;
}
.afaq-6310-plugin-setting-left {
  width: calc(80% - 15px);
  float: left;
  margin-right: 15px;
}
.afaq-6310-plugin-setting-right {
  width: 20%;
  float: left;
  position: relative;
}

br.afaq-6310-break-row {
  width: 100%;
  height: 1px;
  float: left;
  clear: both;
}

.no-ml-mr-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: 25% !important;
}
.no-ml-mr-mb-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
  width: 25% !important;
}

.afaq-6310-col-1 {
  width: 100%;
  margin-bottom: 30px;
  float: left;
  position: relative;
}
.afaq-6310-col-2,
.afaq-6310-col-3,
.afaq-6310-col-4,
.afaq-6310-col-5,
.afaq-6310-col-6 {
  vertical-align: top;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  float: left;
  position: relative;
}
.afaq_6310_choosen_style {
  margin-left: 30px;
  display: inline-block;
}
.afaq-6310-m-l-30 {
  margin-left: 30px;
}
.afaq-6310-preview-box {
  margin-top: 30px;
  float: left;
  position: relative;
  width: calc(100% - 30px);
  background: #fff;
  padding: 15px 15px 0 15px;
}
.afaq-6310-col-2 {
  width: calc(50% - 30px);
}
.afaq-6310-col-3 {
  width: calc(33.33% - 30px);
}
.afaq-6310-col-4 {
  width: calc(25% - 30px);
}
.afaq-6310-col-5 {
  width: calc(20% - 30px);
}
.afaq-6310-col-6 {
  width: calc(16.6667% - 30px);
}
.afaq-6310-col-left,
.afaq-6310-col-right {
  float: left;
  width: 50%;
}
.afaq-6310-modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
#afaq-6310-loading,
.afaq-6310-modal {
  display: none;
  position: fixed;
  z-index: 9999;
  padding-top: 50px;
  padding-bottom: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: calc(100% - 100px);
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.afaq-6310-modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 75%;
  padding: 10px 0 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}
.afaq-6310-modal-content.afaq-6310-modal-sm {
  max-width: 400px;
}
.afaq-6310-modal-content.afaq-6310-modal-md {
  max-width: 700px;
}
@-webkit-keyframes afaq-6310-animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes afaq-6310-animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes afaq-6310-animatebottom {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
@-webkit-keyframes afaq-6310-animatebottom {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
@keyframes afaq-6310-animateleft {
  from {
    left: -300px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
@-webkit-keyframes afaq-6310-animateleft {
  from {
    left: -300px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
@keyframes afaq-6310-animateright {
  from {
    right: -300px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}
@-webkit-keyframes afaq-6310-animateright {
  from {
    right: -300px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}
.afaq-6310-close {
  color: #000;
  float: right;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  padding: 0;
  margin: 0;
}
.afaq-6310-close:focus,
.afaq-6310-close:hover {
  color: #878787;
  text-decoration: none;
  cursor: pointer;
}
.afaq-6310-modal-header {
  width: calc(100% - 40px);
  border-bottom: 1px solid #aaa;
  font-size: 18px;
  line-height: 30px;
  padding: 0 20px 10px;
  height: 30px;
  font-weight: 600;
  float: left;
}
.afaq-6310-modal-form-footer {
  width: calc(100% - 30px);
  padding: 10px 15px;
  border-top: 1px solid #aaa;
  float: left;
}
.afaq-6310-modal-body-form {
  width: calc(100% - 10px);
  padding: 10px 5px;
  float: left;
}
.afaq-6310-modal-body-picture {
  float: left;
  width: 300px;
  padding-right: 15px;
}
.afaq-6310-modal-body-content {
  width: calc(100% - 315px);
  float: left;
}
.afaq-6310-modal-body-picture img {
  width: calc(100% - 12px);
  height: auto;
  border: 1px solid #aaa;
  padding: 5px;
}
#afaq-6310-modal-designation {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 300;
}
#afaq-6310-modal-name {
  text-transform: capitalize;
  font-size: 30px;
  line-height: 30px;
  margin: 5px 0 25px;
  font-weight: 300;
  color: #111;
}
#afaq-6310-modal-details {
  font-size: 14px;
  line-height: 20px;
}
#afaq-6310-modal-info p {
  border-bottom: 1px dotted #2196F3;
  line-height: 35px;
  padding: 0;
  margin: 0;
  float: left;
  display: block;
  width: 100%;
  font-size: 13px;
  color: #434343;
}
#afaq-6310-modal-info p span {
  font-weight: 600;
}
#afaq-6310-modal-info p:last-of-type {
  border: none;
  margin-bottom: 15px;
}
#afaq-6310-modal-social i {
  color: #272727;
  width: 40px;
  height: 40px;
  line-height: 40px;
  float: left;
  margin: 15px 15px 0 0;
  font-size: 18px;
  border: 1px solid #272727;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
#afaq-6310-modal-social i:hover {
  color: #fff;
  background: #2196F3;
}
.afaq-6310-modal-footer {
  padding: 2px 16px;
  color: #fff;
}
br.afaq-6310-clear {
  clear: both;
}
.afaq-6310-form-title {
  font-size: 14px;
  font-weight: 600;
}
.afaq-6310-form-description {
  font-size: 14px;
  font-weight: 600;
}
.afaq-6310-form-number {
  font-size: 14px;
  font-weight: 600;
}
.afaq-6310-form-icon {
  font-size: 14px;
  font-weight: 600;
}
.afaq-6310-form-readmore {
  font-size: 14px;
  font-weight: 600;
}
.afaq-6310-form-readmoreurl {
  font-size: 14px;
  font-weight: 600;
}
.afaq-6310-form-image {
  font-size: 14px;
  font-weight: 600;
}
.afaq-6310-form-hover-image {
  font-size: 14px;
  font-weight: 600;
}
#afaq-6310-loading {
  padding-top: 170px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
}
#afaq-6310-loading img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
ul.afaq-6310-nav-tab {
  float: left;
  width: 98%;
  height: 40px;
  padding: 0;
  margin: 15px 0 0;
  border-bottom: 1px solid #aaa;
}
ul.afaq-6310-nav-tab li {
  float: left;
  padding: 0 13px;
  margin: 0 5px 0 0;
  list-style: none;
  border: 1px solid #aaa;
  border-bottom: 0;
  border-radius: 4px 4px 0 0;
  cursor: pointer;
  font-size: 16px;
  line-height: 40px;
}
ul.afaq-6310-nav-tab li.active {
  border-bottom: 0;
  background: #fff;
  color: #2196F3;
}
ul.afaq-6310-nav-tab li:hover {
  color: #2196F3;
}
.afaq-6310-col-6 {
  width: 48%;
  float: left;
  padding: 10px 1%;
}
.afaq-6310-tab-content {
  background: #fff;
  float: left;
  width: 98%;
}
.css-area {
  border: 1px solid #aaa;
  margin-right: 15px;
}
.afaq_6310_image_settings {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 999;
  visibility: hidden;
}
.afaq-6310-col-1:hover .afaq_6310_image_settings,
.afaq-6310-col-3:hover .afaq_6310_image_settings,
.afaq-6310-col-4:hover .afaq_6310_image_settings,
.afaq-6310-col-5:hover .afaq_6310_image_settings,
.afaq-6310-col-6:hover .afaq_6310_image_settings,
.afaq-6310-item:hover .afaq_6310_image_settings {
  visibility: visible;
  transition: all 0.9s linear;
  z-index: 9999;
  margin-bottom: 15px;
}
.afaq_6310_add_media {
  border: 1px solid #aaa;
  background: #fff;
}
.afaq_6310_add_media:first-of-type {
  margin-top: 30px;
}
.afaq_6310_add_media h6 {
  border-bottom: 1px solid #aaa;
  line-height: 25px;
  font-weight: 500;
  padding: 7px 15px;
  margin: 0;
  font-size: 15px;
}
.afaq_6310_add_media_body {
  padding: 10px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  color: #2196F3;
  transition: all 0.2s linear;
}
.afaq_6310_add_media_body a {
  text-decoration: none;
}
.afaq_6310_add_media_body a i {
  margin-bottom: 10px;
  color: #2196F3;
  display: block;
}
.afaq_6310_add_media_body:hover a,
.afaq_6310_add_media_body:hover a i {
  color: #fff;
}
.afaq_6310_add_media_body_shortcode {
  font-size: 18px;
  display: inline-block;
  float: right;
  color: green;
}
.afaq_6310_add_media_body_shortcode input {
  width: 200px;
  font-size: 14px;
  outline: 0;
  padding: 0 5px ;
  color: green;
}
.afaq_6310_add_media_body_suggestion {
  padding: 15px 15px 25px;
  color: red;
}
i.afaq_6310_add_media_add_new_icon {
  font-size: 35px;
  display: block;
  margin-bottom: 10px;
}
.afaq_6310_add_media_body:hover {
  background: #2196F3;
  color: #fff;
}
.afaq-6310-member-table {
  padding: 13px 20px;
}
.afaq-6310-row-select {
  cursor: pointer;
}
.afaq-6310-member-table tr td {
  padding: 5px 0 0;
}
.afaq-6310-member-table tr td:first-child {
  border-left: 1px solid #aaa;
  padding-left: 10px;
  padding-right: 10px;
}
.afaq-6310-member-table tr td {
  border-top: 1px solid #aaa;
}
.afaq-6310-member-table tr td:last-child {
  border-right: 1px solid #aaa;
}
.afaq-6310-member-table tr:last-child td {
  border-bottom: 1px solid #aaa;
}
.afaq-6310-member-table tr:hover td {
  background: #eee;
}
.afaq_6310_faq_faq_info {
  cursor: pointer;
}
.afaq-6310-pro {
  color: red;
  font-weight: 600;
  font-size: 12px;
  display: inline;
}
h3.afaq-6310-pro {
  color: red;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  width: 100%;
  display: block;
  margin-top: 0;
}
.afaq-6310-change-order {
  float: left;
  background: #376e37;
  color: #fff;
  padding: 5px 8px;
  font-size: 12px;
  margin-top: 10px;
  display: block;
}
.afaq-6310-change-order:hover {
  background: #5cb85c;
}
ul.afaq_6310_faq_faq_style_contact {
  padding: 0;
  margin: 0;
  display: block;
  float: left;
  width: 100%;
}
ul.afaq_6310_faq_faq_style_contact li {
  padding-left: 3px;
  margin: 0 10px 5px;
  width: calc(100% - 20px);
  line-height: 24px;
  font-size: 14px;
  border-bottom: 1px solid #afafaf;
  text-align: left;
}
ul.afaq_6310_faq_faq_style_contact li:last-child {
  border-bottom: none;
}
ul.afaq_6310_faq_faq_style_contact li i {
  line-height: 22px;
  font-size: 16px;
  color: #376e37;
  margin-right: 3px;
}
.afaq_6310_faq_faq_style_01:hover .afaq_6310_skills_label_,
.afaq_6310_faq_faq_style_01:hover ul.afaq_6310_faq_faq_style_contact li,
.afaq_6310_faq_faq_style_01:hover ul.afaq_6310_faq_faq_style_contact li i {
  color: #bd081c;
}
.afaq-6310-no-preview-available {
  position: fixed;
  right: 20px;
  bottom: 120px;
  padding: 15px 20px;
  background-color: #2196F3;
  color: #fff;
  z-index: 999;
  animation: afaq-6310-no-preview-availabl-ani 5s ease;
  display: none;
  border-radius: 5px;
  font-size: 18px;
  line-height: 26px;
  box-shadow: 0 0 7px #2196F3;
}
@keyframes afaq-6310-no-preview-availabl-ani {
  0% {
    bottom: 80px;
  }
  40% {
    bottom: 20px;
  }
  100% {
    bottom: 20px;
    display: none;
  }
}
h3.afaq-6310-tab-menu-settings {
  text-align: center;
  padding: 0;
  margin: 3px 0 0;
  line-height: 40px;
  height: 40px;
  color: #2196F3;
  font-size: 16px;
  border-bottom: 1px solid #aaa;
}
.afaq-6310-row-select-cat {
  cursor: pointer;
  line-height: 25px;
}
.afaq-6310-row-select-cat:first-child {
  margin-top: 5px;
}
.afaq-6310-social-link-facebook,
.afaq-6310-social-link-google,
.afaq-6310-social-link-linkedin,
.afaq-6310-social-link-pinterest,
.afaq-6310-social-link-twitter,
.afaq-6310-social-link-whatsapp,
.afaq-6310-social-link-youtube {
  color: #fff !important;
}
.afaq-6310-social-link-facebook:hover,
.afaq-6310-social-link-google:hover,
.afaq-6310-social-link-linkedin:hover,
.afaq-6310-social-link-pinterest:hover,
.afaq-6310-social-link-twitter:hover,
.afaq-6310-social-link-whatsapp:hover,
.afaq-6310-social-link-youtube:hover {
  background-color: #fff !important;
}
.afaq-6310-social-link-linkedin {
  background-color: #0077b5;
  border: 1px solid #0077b5;
}
.afaq-6310-social-link-facebook {
  background-color: #3b5999;
  border: 1px solid #3b5999;
}
.afaq-6310-social-link-youtube {
  background-color: #cd201f;
  border: 1px solid #cd201f;
}
.afaq-6310-social-link-twitter {
  background-color: #55acee;
  border: 1px solid #55acee;
}
.afaq-6310-social-link-google {
  background-color: #dd4b39;
  border: 1px solid #dd4b39;
}
.afaq-6310-social-link-pinterest {
  background-color: #bd081c;
  border: 1px solid #bd081c;
}
.afaq-6310-social-link-whatsapp {
  background-color: #25d366;
  border: 1px solid #25d366;
}
.afaq-6310-social-link-linkedin:hover {
  color: #0077b5 !important;
}
.afaq-6310-social-link-facebook:hover {
  color: #3b5999 !important;
}
.afaq-6310-social-link-youtube:hover {
  color: #cd201f !important;
}
.afaq-6310-social-link-twitter:hover {
  color: #55acee !important;
}
.afaq-6310-social-link-google:hover {
  color: #dd4b39 !important;
}
.afaq-6310-social-link-pinterest:hover {
  color: #bd081c !important;
}
.afaq-6310-social-link-whatsapp:hover {
  color: #25d366 !important;
}

.afaq-6310-tooltip, span.afaq-6310-tooltip {
  color: #ff0000;
  font-size: 11px;
  font-weight: 600;
}

.afaq_6310_image_hover_effect {
  position: relative;
}
.afaq_6310_faq_edit,
.afaq_6310_faq_delete {
  position: absolute;
  top: 5px;
  padding: 7px 10px;
  font-size: 13px;
  cursor: pointer;
  color: #fff;
  border-radius: 3px;
  display: none;
  border: none;
  outline: none;
}
.afaq_6310_faq_edit {
  background-color: #2196F3;
  right: 70px;
}
.afaq_6310_faq_delete {
  background-color: #b90202;
  right: 5px;
}
.afaq_6310_image_hover_effect:hover .afaq_6310_faq_edit,
.afaq_6310_image_hover_effect:hover .afaq_6310_faq_delete {
  display: block;
}
ul#afaq-6310-sortable-template li {
  background-color: rgb(0, 158, 226);
  color: #fff;
  padding: 10px 15px;
  width: calc(100% - 30px);
}

p.afaq-6310-error-message {
  color: red;
  font-size: 120%;
  margin: 0 0 10px;
  font-weight: 700;
}
p.afaq-6310-error-message{color:red;font-size:120%;margin:0 0 10px;font-weight:700}
p.afaq-6310-success-message{color:green;font-size:120%;margin:0 0 10px;font-weight:700}
.afaq-6310-tab-6 {
  width: 48%;
  float: left;
  padding: 10px 1%;
}

.afaq-6310-plus-icon{
  width: 30px;
  height: 28px;
  line-height: 28px;
  display: inline-block;
  background: #2196F3;
  color: #FFF;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  border-radius: 0 3px 3px 0;
  margin-left: -5px;
  margin-top: 0px;
  border: 1px solid #7e8993;
  border-left: none;
}
.afaq-6310-plus-icon:hover{
  background-color: #4bc2ea;
}
.afaq-6310-icon-close{
  cursor: pointer;
}
ul.afaq-6310-choose-icon{
  padding: 0 10px;
  color: #444;
}
ul.afaq-6310-choose-icon li{
  width: 15.3%;
  float: left;
  line-height: 30px;
  height: 30px;
  cursor: pointer;
  padding: 0 .5%;
  border-radius: 3px;
  font-size: 12px;
}
ul.afaq-6310-choose-icon li i{
  margin-left: 6px;
  font-size: 16px;
}
ul.afaq-6310-choose-icon li:hover{
  background: #5cb85c;
  color: #fff;
}
input[]:focus{
  outline: none !important;
  border-color: #7e8993 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0 !important;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.afaq-member-table{
  padding: 13px 20px;
}
.afaq-row-select{
  cursor: pointer
}
.afaq-member-table tr td{
  padding: 5px 0 0;
}
.afaq-member-table tr:first-child td{
  background: #eee;
}
.afaq-member-table tr td:first-child{
  border-left: 1px solid #ccc;
  padding-left: 10px;
  padding-right: 10px;
  
}
.afaq-member-table tr td{
  border-top: 1px solid #ccc;
}
.afaq-member-table tr td:last-child{
  border-right: 1px solid #ccc;
}
.afaq-member-table tr:last-child td{
  border-bottom: 1px solid #ccc;
}

.afaq-member-table tr:hover td{
  background: #eee;
}
ul#afaq-6310-sortable-faq li, #afaq-6310-sortable-cat li {
  background-color: rgb(0, 158, 226);
  color: #fff;
  padding: 10px 15px;
  width: calc(100% - 30px);
  cursor: pointer;
}

ul.afaq-6310-category-select li{
  cursor: pointer;
  font-size: 12px;
  line-height: 25px;
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
}


.afaq-6310-category {
  font-size: 10px;
  display: inline-block;
  margin: 0 3px 5px;
  background: #0073AA;
  color: #FFF;
  padding: 2px 7px;
  border-radius: 5px;
}

.afaq-selected-template{
  font-size: 16px;
  color: #0073AA;
  font-weight: 600;
  margin-bottom: 10px;
}
.template-number{
  font-size: 16px;
  color: #0073AA;
  font-weight: normal;
}
.select-template{
  margin: 15px;
  float: left;
  box-shadow: 0 0 5px rgba(1, 1, 1, .7);
  width: calc(100% - 30px);
}
.select-template img{
  width: 100%;
  height: auto;
}

.select-this-template-bottom{
  padding: 15px;
  border-top: 1px solid #ccc;
  font-size: 16px;
  float: left;
  width: calc(100% - 30px);
  margin-top: 15px;
  box-shadow: 0 0 5px rgba(1, 1, 1, .3);
}

.m-30-60{
  margin: 15px 30px 0;
  width: calc(100% - 60px);
  float: left;
}
.afaq-6310-search-template-heading, .afaq-6310-category-template-heading{
  font-size: 18px;
    text-align: center;
    margin: 15px 0;
    float: left;
    width: 100%;
    color: #177ed2;
}
.afaq-6310-coming-soon{
  color: green;
  font-size: 18px;
}
.active-category-template{
  float: left;
  width: 100%;
  margin: 15px 0;
}
.faq_6310_not_change{
  color: red;
  font-weight: 600;  
  font-size: 12px;
  position: relative;
  cursor: pointer;
}
.afaq-6310-sub-title{
  font-size: 10px;
  color: green;
}
.afaq_6310_admin_table{
  width: 100%;
  padding: 0;
  margin: 0;
  border-collapse: collapse;
}
.afaq_6310_admin_table tr td:first-child{
  width: 55% !important;
  padding-left: 10px;
}
.afaq_6310_admin_table tr td{
  height: 50px;
}
.afaq_6310_admin_table tr:nth-child(odd){
  background-color: #f2f2f2;
}
.afaq_6310_admin_table tr:nth-child(even){
  background-color: #fbfbfb;
}
.wp-editor-wrap{
  width: calc(100% - 10px) !important;
}
.minicolors-theme-bootstrap .minicolors-swatch{
  width: 22px !important;
  height: 22px !important;
}

.afaq-6310-plugin-menu{
  background: #a90329 !important;
  background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%) !important; 
  background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%) !important; 
  background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%) !important; 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); 
}
.afaq-6310-wpmart-plugins{
  background-color: #fff;
  width: 100%;
  text-align: center;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.afaq-6310-wpmart-plugins:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
}
.afaq-6310-wpmart-plugins a{
  text-decoration: none;
  color: #2196F3;
}
.afaq-6310-wpmart-plugins a:hover{
  color: #176db1;
}
.afaq-6310-wpmart-plugins img{
  width: 100%;
  height: auto;
}
.afaq-6310-wpmart-plugins p{
  font-size: 18px;
  padding: 10px 0 15px;
  margin: 0;
}
h1.afaq-6310-wpmart-all-plugins{
  font-size: 22px;
  margin: -5px 0 15px 15px;
  padding: 0;
  color: #2196F3;
}
.afaq-6310-pro {
  color: red;
  font-weight: 600;
  font-size: 12px;
  position: relative;
  cursor: pointer;
}
.afaq-6310-pro .afaq-6310-pro-text {
  visibility: hidden;
  width: 260px;
  background-color: #2196f3;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 4px;
  font-weight: 300;
  position: absolute;
  z-index: 9999;
  bottom: calc(100% + 8px);
  left: 50%;
  margin-left: -137px;
  line-height: 17px;
  font-size: 13px;
}
.afaq-6310-pro .afaq-6310-pro-text::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  border-width: 5px;
  border-style: solid;
  border-color: #2196f3 transparent transparent transparent;
}
.afaq-6310-pro:hover .afaq-6310-pro-text {
  visibility: visible;
}

.afaq-6310-pro-only{
  margin-right: 15px;
  float: right;
  font-family: sans-serif;
  color: #fff;
  border: 0;
  outline: 0;
  font-size: 14px;
  padding: 8px 10px;
  border-radius: 3px;
  cursor: pointer;
  background-color: #d9534f;
}

/* Nav Start */
.afaq-6310-header .afaq-6310-nav {
  list-style-type: none;
  display: table;
  margin: 0 -15px;
  width: calc(100% + 30px);
}
.afaq-6310-header .afaq-6310-nav li {
  display: table-cell;
  text-align: center;
  background: #16A085;
  margin-bottom: 0;
}
.afaq-6310-header .afaq-6310-nav a {
  padding: 10px 7px;
  height: calc(100% - 20px);
  color: #fff;
  text-decoration: none;
  font-family: Share, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.2s;
}
.afaq-6310-nav a:hover, .afaq-6310-nav a.afaq-6310-active {
  background: #117A65;
}
.afaq-6310-nav a:focus {
  outline: none;
  box-shadow: none;
}
.afaq-6310-header .afaq-6310-nav li.has-dropdown {
  position: relative;
}
ul.dropdown-menu {
  position: absolute;
  display: none;
  width: 100%;
}
.afaq-6310-header .afaq-6310-nav li.has-dropdown:hover {
  cursor: pointer;
}
.afaq-6310-header .afaq-6310-nav li.has-dropdown:hover ul.dropdown-menu {
  display: flex;
  flex-direction: column;
}
ul.dropdown-menu li {
  background-color: #C1E1C1 !important;
  display: table !important;
}
ul.dropdown-menu li a {
  color: #000 !important;
  justify-content: left !important;
  padding-left: 20px !important;
}
ul.dropdown-menu li a:hover,
ul.dropdown-menu li a.afaq-6310-active {
  background-color: #40826D !important;
  color: #C1E1C1 !important;
}

.afaq-6310-nav a.afaq-6310-free{
  position: relative;
  background-image: linear-gradient(to right, #ee0979 0%, #ff6a00  51%, #ee0979  100%);
  padding: 10px 7px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: none;
  transition: 0.5s, box-shadow 0.5s ease 0.1s;
  background-size: 200% auto;
  color: white;            
  display: block;
}
.afaq-6310-nav a.afaq-6310-free:hover {
  background-position: center right;
  color: #fff;
  text-decoration: none;
  box-shadow: 0 0 20px #eee;
}
.afaq-6310-nav a.afaq-6310-free i{
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 30px;
  color: gold;
  transform: scale(0.8);
  transition-duration: 0.5s;
}
.afaq-6310-nav a.afaq-6310-free:hover i {
  transform: rotate(-180deg) scale(1);
  color: #ff668c;
}
/* Nav End */
.afaq-6310-tab-6 {
  width: 48%;
  float: left;
  padding: 10px 1%;
} 
.afaq_6310_success-message {
  color: green;
  font-size: 16px;
}

.afaq-6310-row .afaq-6310-row-plugins {
  width: calc(100% + 10px) !important; 
  padding: 0 !important; 
  margin-left: -15px !important; 
  display: flex !important; 
  flex-wrap: wrap !important;
}
.afaq-6310-visual-editor{
  cursor: pointer;
  color: #FFF;
  background: #2196F3;
  padding: 7px 10px;
}
.afaq-6310-visual-editor i{
  font-size: 16px;
}
.afaq-6310-visual-editor:hover{
  opacity: .8
}
.afaq-6310-modal-padding{
  padding: 20px 15px
}